.dropdown-menu {
  border-radius: $border-radius-base;

  .v-list__tile {
    display: flex;
    padding: $padding-small 1.5rem;
    margin: 0 $margin-small - 5;
    font-size: $font-size-dropdown;
    font-weight: $font-weight-base;
    color: #333 !important;
    text-transform: none;

    white-space: nowrap;
    border-radius: $border-radius-base - 1;

    @include transition-except-props(.15s linear, color, background-color, box-shadow 0ms);

    .v-list__tile__title {
      transition: none;
    }

    &:hover,
    &:focus,
    &:active {
      @include dropdown-menu-color($brand-primary);

      &,
      .v-list__tile__title {
        color: $white !important;
      }
    }
  }
}
