.theme--light.v-text-field .v-input__slot::before {
  color: $input-color;
  border-color: $input-color !important;
}

.input--is-focused .v-input__control .v-input__slot::after{
  border-color: red !important;
}

.v-text-field__slot {
  input {
    @include material-placeholder{
      color: $input-color;
    };
  }

  .v-label {
    font-size: $font-size-default;
    font-weight: $font-weight-base;
    color: $label-color !important;
  }

  .v-label--active {
    color: $brand-primary !important;
  }
}

.v-messages__message {
  color: $brand-danger;
}

.theme--light.v-input:not(.v-input--is-disabled) input,
.theme--light.v-input:not(.v-input--is-disabled) textarea {
  font-size: $font-size-default;
  color: $black-color;
}

// ใช้กำหนดสี โดย กำหนดจาก class="purple-input"
@include inputs-color($brand-primary, 'purple');
@include inputs-color($brand-warning, 'orange');
@include inputs-color($brand-info, 'info');
@include inputs-color($brand-danger, 'danger');
@include inputs-color($brand-success, 'success');
