// CONTENT
$color-body-bg: #f9f7f5;
$color-text: #444;
$color-heading-text: #0b466e;
// LINKS
$color-link-text: #33ac41;
$color-link-text-active: $color-text;
// INPUTS
$color-input-border: lighten($color-heading-text, 50%);
// BUTTONS
$color-button-bg: $color-link-text;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;
