// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Mitr:400italic,700italic,400,700);
// Font Variables

$mitr-sans: 'Mitr', sans-serif;

$system-default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Mitr';

$heading-font-family: $system-default-font-family;
$heading-font-weight: 600;

$content-font-family: $system-default-font-family;
$content-font-weight: 400;

%font-heading {
  font-family: $mitr-sans;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: $mitr-sans;
  font-weight: $content-font-weight;
  color: $color-text;
  font-size: 14px;
  line-height: 2em;
  padding: 0.2em 0 0.02em 0;
}

.headline-white {
  font-family: $mitr-sans;
  font-weight: $content-font-weight;
  font-size: 16px;
  color: white;  
  line-height: 2em;
  padding: 0.2em 0 0.02em 0;
} 

.headline-normal {
  font-family: $mitr-sans;
  font-weight: $content-font-weight;
  font-size: 16px;
  color: $color-text;  
} 

.thai18 {
  font-family: $mitr-sans;
  font-weight: $content-font-weight;
  font-size: 16px;
  color: $color-text;
  line-height: 2em;
  padding: 0.2em 0 0.02em 0;    
}