// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Mitr:400italic,700italic,400,700);
// Font Variables

$mitr-sans: 'Mitr', sans-serif;

$system-default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Mitr';

$heading-font-family: $system-default-font-family;
$heading-font-weight: 600;

$content-font-family: $system-default-font-family;
$content-font-weight: 400;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}

.headline-white {
  font-family: $mitr-sans;
  font-weight: $content-font-weight;
  font-size: 18px;
  color: white;  
} 