@import '../../node_modules/vuetify/src/stylus/settings/_colors'
@import '../../node_modules/vuetify/src/stylus/main'

$theme := {
  primary: '#33AC41'
  secondary: '#005C0E'
  accent: '#0B466E'
  error: '#D50000'
  warning: '#FF9800'
  info: '#C4E5C5'
  success: '#1C8B2D'
}


